<!doctype html>
<html>
<head>
  <title>BLOGGING APP</title>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
  <div id="mainNavbar" class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header  item">
        <a href="#">BLOG SITE</a>
      </div>
      <a class="active item" href="#home">HOME</a>
      <a class="item" href="#aboutUs">ABOUT US </a>
      <a class="item" href="#contact">CONTACT US</a>
      <div class="right menu">
        <a class="ui item" href="/login">LOGIN</a>
        <a class="ui item" href="/register">SIGN UP</a>
      </div>
    </div>
  </div>
  <div class="header head">
    <div class="inner-header flex">
        <!-- <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="" xmlns:xlink="" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve"> -->
            <div class="mainText" id="home">
              BLOGGING WEBSITE
              <br>
              <br>
              <br>
              <span
                        class="txt-rotate"
                        data-period="2000"
                        data-rotate='[ "CREATE", "WRITE", "EDIT", "VIEW", "ENJOY!!" ]'></span></p>
            </div>
            <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
            <g>
                <path fill="#fff" d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7      c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2    c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
            </g>
        </svg>
        <h1></h1>
    </div>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->

</div>
<div class="content flex">
    <p></p>
</div>
<div class="ui container">
  <div class="ui two column grid">
    <div class="column imgColumn">
      <div class="ui segment image">
        <img src="blog.png" alt="LOGO">
      </div>
    </div>
    <div class="column">
      <div class="ui huge header" id="aboutUs">
        ATHARV SHIVARKAR BLOGS
        <br>
        <br>
        <p>
          This is my first website on which I have been working since few months. A cool website for bloggers where they can
          read each other's blogs along with commenting their views on it. The user interface is quite easy and the you will
          get familiar once you start using it. This website is absolutely free all required is just a account so that you
          can post your blogs and read other's blogs. Hurry up!! Create account and start exploring!!Hope you enjoy!!
        </p>
      </div>
    </div>

  </div>
</div>
<br>
<br>
<div id="history">
  <div class="ui grid container">
      <div class="four wide column">
        <span class="zero">0</span>
        <br>
        Accounts created till now
      </div>
      <div class="four wide column">
        <span class="zero">0</span>
        <br>
        Blogs contained by website
      </div>
      <div class="four wide column">
        <span class="zero">0</span>
        <br>
        Users have contributed on the blogs
      </div>
      <div class="four wide column">
        <span class="zero">0</span>
        <br>
        kjbaefihaekjbeflkjqefjwbeg
      </div>
    </div>
</div>

<div class="ui grid ">
  <div class="eight wide column r">
    <span id="fir">
      <br>
      <br>
      <span id="whjoin">WHY JOIN US?</span>
      <br>
      <br>
      <br>
      <span class="cont">Be a part of exciting bloggers committe,</span><br>
      <span class="cont">over hundreds of people have joined. Easy user interface</span>
      <br>
      <br>
    </span>
  </div>
  <div class="eight wide column y">
    <span id="sec">
      <br>
      <br>
      <span id="whUnique">WHAT IS UNIQUE?</span>
      <br>
      <br>
      <br>
      <span class="cont">Just make a account and then you can access all the blogs</span><br>
        <span class="cont"> that are present on the website, you can view the blog by</span><br>
        <span class="cont">others and comment your views on it. Write your own blogs</span><br>
         <span class="cont">and wait for views of others on your blog.</span>
         <br>
         <br>
    </span>
  </div>
</div>
<div class="ui container ev">
  <img src="accessible.png" alt="EVERY DEVICE">
  <br>
  <span id="evFont">WE ARE AVAILABLE ON EVERY DEVICE OF YOUR CHOICE</span>
</div>
<br>
<br>
<hr>
<p class="abc" id="contact">
  CONTACT US
</p>
<div>
  <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook" ></i>
            <span> - Facebook</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
            <span> - Twitter</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus" aria-hidden="true"></i>
            <span> - Google</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
            <span> - Instagram</span>
          </a>
        </li>
  </ul>
</div>

<script type="text/javascript" src="/css/ap.js"></script>

</body>
</html>
